@model IEnumerable<db.Books>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新增方式一", "insertOne")
    @Html.ActionLink("新增方式二", "insertTwo")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCoverUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCoverUrl)
        </td>
        <td>
            @Html.ActionLink("修改方式一", "UpdateOne", new {  id=item.BookId }) |
            @Html.ActionLink("修改方式二", "UpdateTwo", new { id = item.BookId }) | 
            @Html.ActionLink("修改方式三", "UpdateThree", new { id = item.BookId })
            @Html.ActionLink("详情", "Details", new { id = item.BookId }) |
            @Html.ActionLink("删除", "Delete", new { id = item.BookId })
        </td>
    </tr>
}

</table>
