@model IEnumerable<db.Books>

@{
    ViewBag.Title = "bookIndex";
}

<h2>bookIndex</h2>

<p>
    @Html.ActionLink("新增", "bookInsert")
</p>

@using (Html.BeginForm()) {

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCoverUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookId)
            @Html.Hidden("detail.rowID", item.BookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.TextBox("detail.Price", item.Price, new { style = "width:50px" })
        </td>
        <td>
            <img src=" @Html.DisplayFor(modelItem => item.BookCoverUrl) "style=" width:150px" />
        </td>
        <td>
            @Html.DropDownList("detail.booktype", db.bll.listHepler.getBookType(item.BookType), new { style = "width=80px" })
        </td>
        <td>
            @Html.CheckBoxList("detail.booktag." + item.BookId, db.bll.listHepler.getBookTag(item.BookTag));
            @Html.DisplayFor(modelItem => item.BookTag)
        </td>
        <td>
            @Html.ActionLink("修改", "bookUpdate", new { id = item.BookId }) |
            @Html.ActionLink("详情", "bookDetail", new { id = item.BookId })
        </td>
    </tr>
}

</table>
<input type="submit" value="批量保存" />
}

