@model IEnumerable<db.Books>

@{
    ViewBag.Title = "bookIndex";
}

<h2>bookIndex</h2>

<p>
    @Html.ActionLink("新增", "bookInsert")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCoverUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookTag)
        </td>
        <td>
            <img src="@item.BookCoverUrl" style="height:100px;"/>
            @Html.DisplayFor(modelItem => item.BookCoverUrl)
        </td>
        <td>
            @Html.ActionLink("修改", "bookUpdate", new { id=item.BookId }) |
            @Html.ActionLink("详情", "bookDetail", new { id=item.BookId }) |
        </td>
    </tr>
}

</table>
