@model IEnumerable<mvcmystudy02.Models.sv_Orders>

@{
    ViewBag.Title = "orderList";
}

<h2>订单列表</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCoverUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <img src="@item.BookCoverUrl" style="height:100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>

        </td>
    </tr>
}

</table>
