<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link type="text/css" rel="stylesheet" href="/ActionResult/css?color=blue" />
    <script type="text/javascript">
        $.getScript("/ActionResult/js")
    </script>
    @RenderSection("Header", required: false)

</head>
<body>
     
    @RenderBody()
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
